.u-stack-horizontally {
    display: flex;

    *:not(:last-child) {
        margin-right: 1rem;
    }
}

.u-float-right {
    float: right;
}

.u-center-both {
    display: flex;
    align-items: center;
    justify-content: center;
}