.btn {
    $border-radius: 2rem;
    $large-border-radius: 10rem;

    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 2rem 4rem;
        display: inline-block;
        transition: all .2s;
        position: relative;
        font-family: "Inter", sans-serif;
        border-radius: $border-radius;
        font-weight: 600;
        font-size: 3rem;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0,0,0,.2);
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }

    /* &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: $border-radius;
        z-index: -1;
        transition: all .4s;
    }

    &:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; 
    } */

    &--red {
        background-color: darken($dark-color-primary, 10%);
        color: $color-background;
    }

    &--red::after {
        background-color: $dark-color-primary;
    }

    &--red--pressed {
        background-color: darken($dark-color-primary, 20%);
    }

    &--large-border-radius {
        border-radius: $large-border-radius;
        &::after {
            border-radius: $large-border-radius;
        }
    }

    &--lavanda {
        color: white;
        background-image: linear-gradient(to right, darken($lavanda-blue, 10%), darken($lavanda-pink, 10%));
    }

    &--lavanda::after {
        color: white;
        background-image: linear-gradient(to right, $lavanda-blue, $lavanda-pink);
    }

    &--lavanda--pressed {
        background-image: linear-gradient(to right, darken($lavanda-blue, 10%), darken($lavanda-pink, 50%));
    }

    &--icon-font {
        color: white;
        font-size: 5rem !important;
        font-weight: 1000 !important;
        padding: 1rem 1.5rem !important;
    }

    &--icon-svg {
        padding: 2rem 2rem !important;
        width: 3rem;
        height: 3rem;
    }
}