.clock {
    position: relative;
    z-index: 1;
    &__text {
        font-family: "Inter", sans-serif;
        font-weight: 200;
        font-size: 20rem;
        @include shadow-around(5px, $color-background);
        color: white;
        text-align: center;
        
    }
}