.desktop {
    position: absolute;
    width: 800px;
    height: calc(480px - $panel-height);

    &__items-container {
        display: flex;
        justify-content: center;
        height: calc(480px - $panel-height - 20rem - 1rem);
    }
}