.panel {
    --toggle-animation-time: #{$toggle-animation-time};

    position: absolute;
    width: calc(100% - $panel-padding * 2);
    height: $panel-height;
    left: 0;
    bottom: 0;
    padding-left: 1rem;
    padding: 0 $panel-padding;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: $panel-color;
    backdrop-filter: $panel-blur;

    & > * > * {  // panel items
        margin: 0.5rem;
    }

    &--hidden {
        display: none !important;
    }

    &__secondary {
        right: 0;
        bottom: $panel-height;
        position: absolute;
        z-index: 2;

        // TODO: figure out why blur does not work on animated elements
        &--on {
            animation: toggle-panel-on $toggle-animation-time ease-out;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }

        &--off {
            animation: toggle-panel-off $toggle-animation-time ease-out;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
    }

    // Individual panels
    &__settings {
        background-color: $panel-color;
        backdrop-filter: $panel-blur;
        padding: 1rem;
        border-radius: 2rem 0 0 0;
        width: 40%;
        height: 75%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h2 {
            font-weight: 600;
            font-size: 4rem;
            color: white;
        }

        hr {
            border: 2px solid white;
            width: 90%;
            margin: 1rem;
        }

        p {
            font-size: 2rem;
            color: white;
            margin-top: auto;
        }

        .btn {
            margin-bottom: 1rem;
        }
    }
}

@keyframes toggle-panel-on {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes toggle-panel-off {
    0% {
        opacity: 1;
        transform: none;
    }

    100% {
        opacity: 0;
        transform: translateY(10rem);
    }
}