.weather {
    &__temp {
        color: white;
        text-align: center;
        font-size: 5rem;
        margin: 1rem;
    }
    &__text {
        color: white;
        text-align: center;
        font-size: 2rem;
        margin: 1rem;
        text-transform: capitalize;
    }
    &__icon {
        background-image: linear-gradient(to right, $lavanda-blue, $lavanda-pink);
        background-clip: text;
        font-size: 6rem;
        text-align: center;
        color: transparent;
        font-family: "linea-weather-10";
    }
}