// colors
$color-background: #000319;
$dark-color-primary: #fd015b;
$color-grey-dark: #444;
$lavanda-blue: #2861c6;
$lavanda-pink: #ce8cd7;

$panel-padding: 1rem;
$panel-height: 9rem;
$panel-color: rgba($color-background, 0.4);
$panel-blur: blur(5px);
$toggle-animation-time: 100ms;